@use "base/variables" as v;
@use "base/mixins" as m;

.colContainer {
  .colBox {
    display: flex;
    justify-content: space-between;
    &--col3 {
      margin: 25px 0;
      .col {
        width: 350px;
        img {
          width: 350px;
        }
      }
    }
  }
}

.clipBox {
  &_text {
    .head {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      margin: 20px 0;
    }
    &.wide {
      padding: 217px 120px 217px 460px;
    }
  }
  &.type-row {
    display: flex;
    &.img-left {
      flex-direction: row;
    }
    &.img-right {
      flex-direction: row-reverse;
      .clipBox_text {
        flex: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    &.img-overlap {
      position: relative;
      .clipBox_image {
        z-index: 3;
        margin-top: 60px;
      }
      .clipBox_text {
        position: absolute;
        right: 0;
      }
    }
  }
  .bg-gray {
    background: #F0F0F0;
  }
}