@use "base/variables" as v;
@use "base/mixins" as m;

.colContainer {
  .colBox {
    display: flex;
    justify-content: space-between;
    @include m.sp {
      display: block;
    }
    &--col3 {
      margin: 25px 0;
      @include m.tab {
        display: block;
      }
      .col {
        width: 350px;
        @include m.tab {
          margin: 60px auto 0;
          width: 100%;
          text-align: center;
        }
        @include m.sp {
          width: 100%;
          margin-top: 40px;
        }
        img {
          width: 350px;
          @include m.sp {
            width: 100%;
          }
        }
      }
    }
  }
}

.clipBox {
  &_text {
    .head {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      margin: 20px 0;
    }
    &.wide {
      padding: 217px 120px 217px 460px;
      @include m.expc {
        padding: 150px 20px 60px;
      }
    }
  }
  &_image {
    img{
      @include m.expc {
        max-width: 100%;
      }
    }
  }
  &.type-row {
    display: flex;
    @include m.expc {
      display: block;
    }
    &.img-left {
      flex-direction: row;
    }
    &.img-right {
      flex-direction: row-reverse;
      .clipBox_text {
        flex: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    &.img-overlap {
      .clipBox_image {
        z-index: 3;
        margin-top: 60px;
        @include m.expc {
          max-width: 100%;
        }
        img {
          @include m.expc {
            max-width: 100%;
          }
        }
      }
      .clipBox_text {
        position: absolute;
        right: 0;
        @include m.expc {
          position: static;
          width: 100vw;
          transform: translate(-20px, -115px);
        }
      }
    }
  }
  .bg-gray {
    background: #F0F0F0;
  }
  &:not(.img-overlap){
    .clipBox_text {
      &.bg-gray{
        @include m.sp {
          padding: 60px 0 50px;
        }
      }
    }
  }
}