@use "base/variables" as v;
@use "base/mixins" as m;

.formBox {
  max-width: 1100px;
  margin: 38px auto 68px;
  @include m.expc{
    margin: 28px 20px 40px;
  }
  &-inner {
    padding: 90px;
    background-color: #f7f7f7;
    @include m.sp {
      padding: 30px;
    }
  }
}

.form {
  &-item {
    &:not(:first-child) {
      margin-top: 27px;
    }
    &-name {
      span.required {
        color: #391e88;
        font-size: 12px;
        margin-left: 21px;
      }
    }
    &-input {
      margin-top: 8px;
      input{
        &:not([type="radio"]) {
          background: #fff;
          border-radius: 6px;
          border: 1px solid #aaa;
          width: 300px;
          padding: 10px 30px;
          font-size: 14px;
          @include m.expc {
            width: 100%;
            padding: 10px;
          }
        }
        &[type="tel"] {
          width: 200px;
          @include m.expc {
            width: 100%;
          }
        }
      }
      label.label-radio {
        &:not(:first-child) {
          margin-left: 55px;
          @include m.expc {
            margin-left: 0;
          }
        }
        input[type="radio"] {
          margin-right: 3px;
        }
      }
    }
    &:first-child {
      .form-item-input{
        @include m.expc{
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  textarea {
    background: #fff;
    border-radius: 6px;
    border: 1px solid #aaa;
    width: 601px;
    height: 255px;
    padding: 10px 30px;
    font-size: 14px;
    @include m.expc {
      width: 100%;
      padding: 10px;
    }
  }
  select {
    background: #fff;
    border-radius: 6px;
    border: 1px solid #aaa;
    width: 300px;
    padding: 10px 30px;
    font-size: 14px;
    @include m.expc {
      width: 100%;
      padding: 10px;
    }
  }
  .btnBox {
    margin-top: 50px;
  }
}