@use "base/variables" as v;
@use "base/mixins" as m;

.primaryHeading {
  text-align: center;
  color: v.$purple;
  &_main {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 0.9;
    span {
      font-family: inherit;
      @include m.sp {
        display: inline-block;
        line-height: 1.1;
      }
    }
  }
  &_sub {
    font-size: 13px;
    font-weight: 600;
    line-height: 0.9;
  }
  &--pcNoCenter {
    text-align: left;
    @include m.expc {
      text-align: center;
    }
  }
}

.secondaryHeading {
  font-size: 24px;
  border-left: 6px solid #391E88;
  padding-left: 20px;
  margin-bottom: 24px;
  @include m.sp {
    font-size: 18px;
  }
}

.tertiaryHeading {
  font-size: 18px;
  margin: 56px 0 17px;
  @include m.sp {
    font-size: 16px;
  }
  &.type-02 {
    color: #391E88;
    font-size: 32px;
    text-align: center;
  }
}