@use "base/variables" as v;
@use "base/mixins" as m;

.headerNav{
  max-width: 100%;
  @include m.expc {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
.nav {
    @include m.expc {
      display: none;
      &.active{
        display: block;
        background: linear-gradient(#642390 0%, #19074a 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 998;
        .navList {
          @include m.expc {
            width: 100%;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          &_item {
            &:not(:first-child){
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}
.nav {
  @include m.sp {
    transition: 0.5s;
  }
  &List {
    display: flex;
    font-weight: bold;
    .footer & {
      @include m.sp {
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    }
    &_item {
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      position: relative;
      @include m.pc {
        .header & {
          &:not(:last-child) {
            margin-right: 25px;
          }
          &:hover::before {
            animation: navLine .5s;
            content: '';
            position: absolute;
            width: 100%;
            height: 0;
            bottom: -5px;
            left: 0;
            border: 1px solid v.$white;
          }
          @keyframes navLine {
            0% {
              width: 0;
            }
            100% {
              width: 100%;
            }
          }
        }
      }
      .footer & {
        margin-bottom: 20px;
        &:not(:last-child) {
          margin-right: 30px;
          @include m.sp {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
.menuBar {
  width: 35px;
  z-index: 999;
  @include m.pc {
    display: none;
  }
  &_item {
    position: absolute;
    width: 100%;
    height: 2px;
    border-top: 2px solid v.$white;
    transition: 0.5s;
    &:first-child {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
    }
    &:last-child {
      bottom: 0;
    }
    @include m.pc {
      display: none;
    }
  }
  &.active {
    z-index: 999;
    .menuBar_item{
      &:first-child {
        top: 50%;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        bottom: 50%;
        transform: rotate(-45deg);
      }
    }
  }
}