@use "base/variables" as v;
@use "base/mixins" as m;

.pageTop {
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
  &.active {
    opacity: 1;
    position: fixed;
    bottom: 45px;
    right: 45px;
    z-index: 998;
    max-width: 50px;
    img {
      max-width: 50px;
    }
    @include m.sp {
      bottom: 20px;
      right: 20px;
    }
  }
}