@use "base/variables" as v;
@use "base/mixins" as m;

.footer {
  &Container {
    background: #120e19;
    padding: 60px 20px;
  }
  .nav {
    &List {
      color: #fff;
      justify-content: center;
    }
  }
  .copy {
    text-align: center;
    color: #a798b7;
    small {
      font-family: "Montserrat", sans-serif;
    }
  }
}