@use "base/variables" as v;
@use "base/mixins" as m;

/*-------------
header
-------------*/
.header {
  color: v.$white;
  position: fixed;
  z-index: 999;
  width: 100%;
  &Container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    @include m.sp {
      padding: 20px 20px 0;
      max-width: 100%;//仮
    }
  }
  .logo {
    img {
      width: 160px;
    }
    @include m.pc {
      transition: .5s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}