@use "base/variables" as v;
@use "base/mixins" as m;

.news {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
  // display: flex;
  // justify-content: space-between;
  max-width: 917px;
  &List {
    &_inner {
      // display: inline-block;
      // display: flex;
      &:not(:first-of-type) {
        margin-top: 15px;
        @include m.sp {
          margin-top: 35px;
        }
      }
      &:first-of-type {
        @include m.expc {
          margin-top: 60px;
        }
      }
      @include m.expc {
        flex-wrap: wrap;
      }
    }
    .item {
      display: inline-block;
      @include m.expc {
        display: block;
      }
      @include m.sp {
        margin-top: 10px;
      }
    }
  }
  .date {
    display: inline-block;
  }
  .category {
    background-color: #e8e8e8;
    border-radius: 50px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 80px;
    margin: 0 20px;
  }
  @include m.expc {
    display: block;
  }
}

.article {
  &-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    @include m.sp {
      font-size: 22px;
      line-height: 1.5;
      margin-bottom: 52px;
    }
  }
  .imgBox {
    margin: 30px 0;
    img {
      @include m.expc {
        max-width: 100%;
      }
    }
  }
}
