@use "base/variables" as v;
@use "base/mixins" as m;

.news {
  // display: flex;
  // justify-content: space-between;
  max-width: 917px;
  &List {
    &_inner {
      // display: inline-block;
      // display: flex;
      &:not(:first-of-type) {
        margin-top: 15px;
        @include m.sp {
          margin-top: 35px;
        }
      }
      &:first-of-type {
        @include m.expc {
          margin-top: 60px;
        }
      }
      @include m.expc {
        flex-wrap: wrap;
      }
    }
    .item {
      display: inline-block;
      @include m.expc {
        display: block;
      }
      @include m.sp {
        margin-top: 10px;
      }
    }
  }
  .date {
    display: inline-block;
  }
  .category {
    background-color: #e8e8e8;
    border-radius: 50px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 80px;
    margin: 0 20px;
  }
  @include m.expc {
    display: block;
  }
}

.article {
  &-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    @include m.sp {
      font-size: 22px;
      line-height: 1.5;
      margin-bottom: 52px;
    }
  }
  .imgBox {
    margin: 30px 0;
    img {
      @include m.expc {
        max-width: 100%;
      }
    }
  }
}

.others {
  // padding: 0 20px;
  margin-top: 40px;
  &Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #B8AED5;
    border-bottom: 1px solid #B8AED5;
    padding: 45px 0;
  }
  .prev {
    font-size: 14px;
    // border-right: 1px solid #B8AED5;
    width: 50%;
    color: #391e88;
    &::after {
    content: "";
    height: 70px;
    left: 100%;
    position: absolute;
    top: -20px;
    width: 1px;
    background: #B8AED5;
    }
  }
  .next {
    font-size: 14px;
    width: 50%;
    padding-left: 30px;
    color: #391e88;
  }
}

.toNewsPage {
  text-align: center;
  font-size: 14px;
  color: #391e88;
  margin-top: 17px;
}