.navList {
  font-weight: bold;
}
.navList_item {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  position: relative;
}

.btn {
  background: linear-gradient(to left, #250D65 0%, #7633A4 100%);
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 70px;
  text-align: center;
  width: 220px;
}
.btn--transparent {
  background: transparent;
}

.primaryHeading {
  color: #391E88;
  text-align: center;
}
.primaryHeading_main {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 0.9;
}
.primaryHeading_sub {
  font-size: 13px;
  font-weight: 600;
  line-height: 0.9;
}
.primaryHeading--pcNoCenter {
  text-align: left;
}

.colContainer .colBox {
  display: flex;
  justify-content: space-between;
}
.colContainer .colBox--col3 {
  margin: 25px 0;
}
.colContainer .colBox--col3 .col {
  width: 350px;
}
.colContainer .colBox--col3 .col img {
  width: 350px;
}

.clipBox_text .head {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}
.clipBox.type-row {
  display: flex;
}
.clipBox.type-row.img-left {
  flex-direction: row;
}
.clipBox.type-row.img-right {
  flex-direction: row-reverse;
}
.clipBox.type-row.img-overlap {
  position: relative;
}
.clipBox.type-row.img-overlap .clipBox_image {
  margin-top: 60px;
  z-index: 3;
}
.clipBox.type-row.img-overlap .clipBox_text {
  padding: 217px 120px 217px 460px;
  position: absolute;
  right: 0;
}
.clipBox .bg-gray {
  background: #F0F0F0;
}

.lead {
  font-size: 40px;
  font-weight: 600;
  margin: 30px 0 40px;
  text-align: center;
}
.lead + p {
  margin-bottom: 45px;
  text-align: center;
}

.marker span {
  background: linear-gradient(transparent calc(100% - 12px), #F5F534 calc(100% - 12px));
}

/*-------------
header
-------------*/
.header {
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.header .logo img {
  width: 160px;
}

.mvContainer {
  min-height: 100vh;
  position: relative;
}
.mvImage {
  background: url("../images/index_img01.jpg") no-repeat top center/cover;
  min-height: inherit;
}
.mv_contents {
  left: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}

.mvHeading {
  color: #fff;
}
.mvHeading_main {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  font-weight: bold;
}
.mvHeading_sub {
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin: 15px 0 46px;
}

.section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  max-width: 1100px;
}
.section.width-wide {
  max-width: 1261px;
}
.section.width-narrow {
  max-width: 750px;
}
.section.width-full {
  max-width: 100%;
}

.news {
  display: flex;
  justify-content: space-between;
  max-width: 917px;
}
.newsList_inner {
  display: flex;
}
.newsList_inner:not(:first-of-type) {
  margin-top: 15px;
}
.newsList .category {
  align-items: center;
  background-color: #e8e8e8;
  border-radius: 50px;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  justify-content: center;
  margin: 0 20px;
  text-align: center;
  width: 80px;
}

.company {
  padding-top: 100px;
}

@media screen and (min-width: 1025px) {
  .header .navList_item:not(:last-child) {
    margin-right: 25px;
  }
  .header .navList_item:hover::before {
    -webkit-animation: navLine 0.5s;
            animation: navLine 0.5s;
    border: 1px solid #fff;
    bottom: -5px;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 100%;
  }
  @-webkit-keyframes navLine {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes navLine {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  .footer .navList_item:not(:last-child) {
    margin-right: 30px;
  }
  .navList {
    display: flex;
  }
  .btn {
    transition: 0.5s;
  }
  .btn:not(.btn--transparent):hover {
    background: linear-gradient(to left, #7633A4 0%, #250D65 100%);
  }
  .header .logo {
    transition: 0.5s;
  }
  .header .logo:hover {
    opacity: 0.7;
  }
}

@media screen and (max-width: 599px) {
  .mvHeading_main {
    font-size: 48px;
  }
}