@charset "UTF-8";
.headerNav {
  max-width: 100%;
}
.headerNav .nav a:hover {
  text-decoration: none;
}
.navList {
  display: flex;
  font-weight: bold;
}
.navList_item {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  position: relative;
}
.footer .navList_item {
  margin-bottom: 20px;
}
.footer .navList_item:not(:last-child) {
  margin-right: 30px;
}

.menuBar {
  width: 35px;
  z-index: 999;
}
.menuBar_item {
  border-top: 2px solid #fff;
  height: 2px;
  position: absolute;
  transition: 0.5s;
  width: 100%;
}
.menuBar_item:first-child {
  top: 0;
}
.menuBar_item:nth-child(2) {
  opacity: 1;
  top: 50%;
  transform: translateY(-50%);
}
.menuBar_item:last-child {
  bottom: 0;
}
.menuBar.active {
  z-index: 999;
}
.menuBar.active .menuBar_item:first-child {
  top: 50%;
  transform: rotate(45deg);
}
.menuBar.active .menuBar_item:nth-child(2) {
  opacity: 0;
}
.menuBar.active .menuBar_item:last-child {
  bottom: 50%;
  transform: rotate(-45deg);
}

.btn {
  background: linear-gradient(to left, #250D65 0%, #7633A4 100%);
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 70px;
  text-align: center;
  width: 220px;
}
.btn:hover {
  text-decoration: none;
}
.btn--transparent {
  background: transparent;
}

.breadcrumbWrapper {
  background: #f7f7f7;
}
.breadcrumbList {
  display: flex;
}
.breadcrumbList_item {
  flex-shrink: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}
.breadcrumbList_item:not(:last-child) {
  color: #391e88;
}
.breadcrumbList_item:not(:last-child) ::after {
  content: "＞";
  margin: 0 10px;
}

.primaryHeading {
  color: #391E88;
  text-align: center;
}
.primaryHeading_main {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 0.9;
}
.primaryHeading_main span {
  font-family: inherit;
}
.primaryHeading_sub {
  font-size: 13px;
  font-weight: 600;
  line-height: 0.9;
}
.primaryHeading--pcNoCenter {
  text-align: left;
}

.secondaryHeading {
  border-left: 6px solid #391E88;
  font-size: 24px;
  margin-bottom: 24px;
  padding-left: 20px;
}

.tertiaryHeading {
  font-size: 18px;
  margin: 56px 0 17px;
}
.tertiaryHeading.type-02 {
  color: #391E88;
  font-size: 32px;
  text-align: center;
}

.colContainer .colBox {
  display: flex;
  justify-content: space-between;
}
.colContainer .colBox--col3 {
  margin: 25px 0;
}
.article .colContainer .colBox--col3 {
  flex-wrap: wrap;
  justify-content: flex-start;
}
.colContainer .colBox--col3 .col {
  width: 350px;
}
.colContainer .colBox--col3 .col img {
  width: 350px;
}

.clipBox_text .head {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
}
.clipBox_text .head.type-center {
  text-align: center;
}
.clipBox_text .head.type-small {
  font-size: 16px;
  font-weight: normal;
}
.clipBox_text.wide {
  padding: 217px 120px 217px 460px;
}
.article .clipBox_image img {
  max-width: 445px;
}
.clipBox.type-row {
  display: flex;
}
.clipBox.type-row.img-left {
  flex-direction: row;
}
.article .clipBox.type-row.img-left .clipBox_image {
  margin-right: 50px;
}
.clipBox.type-row.img-right {
  flex-direction: row-reverse;
}
.clipBox.type-row.img-right .clipBox_text {
  align-items: center;
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
}
.clipBox.type-row.img-overlap .clipBox_image {
  margin-top: 60px;
  z-index: 3;
}
.clipBox.type-row.img-overlap .clipBox_text {
  position: absolute;
  right: 0;
}
.clipBox .bg-gray {
  background: #F0F0F0;
}
.article .clipBox {
  margin-top: 60px;
}

.borderBox {
  margin-top: 36px;
}
.borderBox-inner {
  background-color: #fff;
  border: 1px solid #b8aed5;
  border-radius: 10px;
  padding: 57px 95px;
}
.borderBox .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 45px;
  text-align: center;
}
.borderBox .btnBox {
  margin-top: 50px;
}
.borderBox .btnBox-inner + p {
  margin-top: 8px;
}

.videoBox {
  background: #ebebeb;
  height: 700px;
}

.lead {
  font-size: 40px;
  font-weight: 600;
  margin: 30px 0 40px;
  text-align: center;
}
.lead + p {
  margin-bottom: 45px;
  text-align: center;
}

.marker span {
  background: linear-gradient(transparent calc(100% - 12px), #F5F534 calc(100% - 12px));
}

.contact-text {
  margin-top: 67px;
}

.pager {
  margin-top: 40px;
}
.pagerBox {
  display: flex;
  justify-content: center;
}
.pager_item {
  align-items: center;
  background: linear-gradient(#7633a4 0%, #250d65 100%);
  border-radius: 50%;
  display: flex;
  height: 45px;
  justify-content: center;
  width: 45px;
}
.pager_item:not(:last-child) {
  margin-right: 10px;
}
.pager_item.current {
  background: #F1EBF8;
}
.pager_item span {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.pager_item.current span {
  color: #4f31a5;
}

/* 各 SNS のブランドカラー */
.snsButtons_twitter {
  background: #1da1f2;
}

.snsButtons_facebook {
  background: #3b5998;
}

.snsButtons_pocket {
  background: #ee4056;
}

.snsButtons_google {
  background: #dd4b39;
}

/* SNS ボタンのグループ */
.snsButtons {
  margin: 60px auto 5px;
  padding: 0 20px;
}

.snsButtons a {
  text-decoration: none;
}

/* 各 SNS ボタンのボックス */
.snsButtons li {
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  color: white;
  display: inline-block;
  /* 水平に並べる */
  list-style-type: none;
  margin: 2px;
  padding: 6px 0px;
}

/* マウスカーソルを重ねたとき */
.snsButtons li:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* クリックしたとき */
.snsButtons li:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}

/* アイコン部分 */
.snsButtons i {
  font-size: 18pt;
  margin: 0px;
  min-width: 40px;
  padding: 0px 0px 0px 8px;
  vertical-align: bottom;
}

/* テキスト部分 */
.snsButtons_label {
  display: inline-block;
  font-size: 12pt;
  min-width: 80px;
  padding: 0px 8px 0px 0px;
}

.map {
  height: 394px;
  width: 100%;
}
.map-item {
  height: 100%;
  width: 100%;
}

.descList-inner {
  display: flex;
  flex-wrap: wrap;
}
.descList-inner dt {
  border-bottom: 1px solid #DDDDDD;
  font-weight: normal;
  padding: 27px 0 22px;
  width: 20%;
}
.descList-inner dd {
  border-bottom: 1px solid #DDDDDD;
  padding: 27px 0 22px;
  width: 80%;
}

.formBox {
  margin: 38px auto 68px;
  max-width: 1100px;
}
.formBox-inner {
  background-color: #f7f7f7;
  padding: 90px;
}

.form-item:not(:first-child) {
  margin-top: 27px;
}
.form-item-name span.required {
  color: #391e88;
  font-size: 12px;
  margin-left: 21px;
}
.form-item-input {
  margin-top: 8px;
}
.form-item-input input:not([type=radio]) {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 14px;
  padding: 10px 30px;
  width: 300px;
}
.form-item-input input[type=tel] {
  width: 200px;
}
.form-item-input label.label-radio:not(:first-child) {
  margin-left: 55px;
}
.form-item-input label.label-radio input[type=radio] {
  margin-right: 3px;
}
.form textarea {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 14px;
  height: 255px;
  padding: 10px 30px;
  width: 601px;
}
.form select {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 14px;
  padding: 10px 30px;
  width: 300px;
}
.form .btnBox {
  margin-top: 50px;
}

.pageTop {
  opacity: 0;
  transition: 0.5s;
}
.pageTop.active {
  bottom: 45px;
  max-width: 50px;
  opacity: 1;
  position: fixed;
  right: 45px;
  z-index: 998;
}
.pageTop.active img {
  max-width: 50px;
}

/*-------------
header
-------------*/
.header {
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.header_image {
  transition: 0.5s;
}
.header_image.active {
  background: #21054d;
}
.header .logo {
  z-index: 998;
}
.header .logo img {
  width: 160px;
}

.mvContainer {
  min-height: 100vh;
  position: relative;
}
.article .mvContainer {
  min-height: auto;
}
.mvImage {
  background: url("../images/index_img01.jpg") no-repeat;
  background-size: cover;
  min-height: inherit;
}
.article .mvImage {
  min-height: auto;
  padding: 105px 0 70px;
}
.mv_contents {
  left: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}
.article .mv_contents {
  position: static;
  transform: translate(0, 0);
}

.mvHeading {
  color: #fff;
}
.mvHeading_main {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  font-weight: bold;
}
.article .mvHeading_main {
  font-size: 36px;
}
.mvHeading_sub {
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin: 15px 0 46px;
}
article .mvHeading_sub {
  font-size: 14px;
  margin: 2px 0 0;
}

.scrollContainer {
  bottom: 90px;
  position: absolute;
  right: 20px;
}
.scrollContainer::after {
  -webkit-animation: scroll 1.5s infinite;
          animation: scroll 1.5s infinite;
  border: 1px solid #fff;
  content: "";
  height: 80px;
  left: 50%;
  position: absolute;
  top: 60px;
  width: 0;
}
@-webkit-keyframes scroll {
  0% {
    height: 0%;
  }
  100% {
    height: 80px;
    @media screen and (max-width: 599px) {
      .scrollContainer {
        height: 60px;
      }
    }
  }
}
@keyframes scroll {
  0% {
    height: 0%;
  }
  100% {
    height: 80px;
    @media screen and (max-width: 599px) {
      .scrollContainer {
        height: 60px;
      }
    }
  }
}
.scrollContainer .text {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}

.section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  max-width: 1100px;
}

.width-wide {
  margin-left: auto;
  margin-right: auto;
  max-width: 1261px;
}

.width-narrow {
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
}

.width-full {
  margin-left: calc(50% - 50vw) !important;
  margin-right: calc(50% - 50vw) !important;
}
.width-full.imgBox img {
  max-width: 100%;
}

.news {
  display: flex;
  justify-content: space-between;
  max-width: 917px;
}
.newsList_inner:not(:first-of-type) {
  margin-top: 15px;
}
.newsList .item {
  display: inline-block;
}
.news .date {
  display: inline-block;
}
.news .category {
  background-color: #e8e8e8;
  border-radius: 50px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 0 20px;
  text-align: center;
  width: 80px;
}

.article-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
}
.article .imgBox {
  margin: 30px 0;
}

.others {
  margin-top: 40px;
}
.othersContainer {
  align-items: center;
  border-bottom: 1px solid #B8AED5;
  border-top: 1px solid #B8AED5;
  display: flex;
  justify-content: space-between;
  padding: 45px 0;
}
.others .prev {
  color: #391e88;
  font-size: 14px;
  width: 50%;
}
.others .prev::after {
  background: #B8AED5;
  content: "";
  height: 70px;
  left: 100%;
  position: absolute;
  top: -20px;
  width: 1px;
}
.others .next {
  color: #391e88;
  font-size: 14px;
  padding-left: 30px;
  width: 50%;
}

.toNewsPage {
  color: #391e88;
  font-size: 14px;
  margin-top: 17px;
  text-align: center;
}

.cva {
  background: #f7f7f7;
  margin-top: 100px;
  padding: 80px 0;
}
.cva .section {
  margin-top: 0;
}

.footerContainer {
  background: #120e19;
  padding: 60px 20px;
}
.footer .navList {
  color: #fff;
  justify-content: center;
}
.footer .copy {
  color: #a798b7;
  text-align: center;
}
.footer .copy small {
  font-family: "Montserrat", sans-serif;
}
.top .recruit .section-inner {
  padding: 0;
}
.top .recruit .clipBox_image img {
  max-width: 665px;
}

.company {
  padding-top: 100px;
}

.article.recruit {
  background-image: url(../images/recruit_bg.png);
}
.article.recruit .leadText {
  margin-top: 34px;
}
@media screen and (max-width: 1024px) {
  .headerNav {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .headerNav .nav {
    display: none;
  }
  .headerNav .nav.active {
    background: linear-gradient(#642390 0%, #19074a 100%);
    display: block;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 998;
  }
  .headerNav .nav.active .navList_item:not(:first-child) {
    margin-top: 20px;
  }
  .primaryHeading--pcNoCenter {
    text-align: center;
  }
  .clipBox_text .head {
    text-align: center;
  }
  .clipBox_text.wide {
    padding: 150px 20px 60px;
  }
  .article .clipBox_image img {
    max-width: 100%;
  }
  .clipBox_image img {
    max-width: 100%;
  }
  .clipBox.type-row {
    display: block;
  }
  .article .clipBox.type-row.img-left .clipBox_image {
    margin-left: auto;
    margin-right: auto;
  }
  .clipBox.type-row.img-right .clipBox_text {
    padding: 60px 0 50px;
  }
  .clipBox.type-row.img-overlap .clipBox_image {
    max-width: 100%;
  }
  .clipBox.type-row.img-overlap .clipBox_image img {
    max-width: 100%;
  }
  .clipBox.type-row.img-overlap .clipBox_text {
    position: static;
    transform: translate(-20px, -115px);
    width: 100vw;
  }
  .contact-text {
    margin-top: 37px;
  }
  .formBox {
    margin: 28px 20px 40px;
  }
  .form-item-input input:not([type=radio]) {
    padding: 10px;
    width: 100%;
  }
  .form-item-input input[type=tel] {
    width: 100%;
  }
  .form-item-input label.label-radio:not(:first-child) {
    margin-left: 0;
  }
  .form-item:first-child .form-item-input {
    display: flex;
    flex-direction: column;
  }
  .form textarea {
    padding: 10px;
    width: 100%;
  }
  .form select {
    padding: 10px;
    width: 100%;
  }
  .section {
    margin-top: 100px;
  }
  .section-inner {
    padding: 0 20px;
  }
  .newsList_inner:first-of-type {
    margin-top: 60px;
  }
  .newsList_inner {
    flex-wrap: wrap;
  }
  .newsList .item {
    display: block;
  }
  .news {
    display: block;
  }
  .article .imgBox img {
    max-width: 100%;
  }
  .top .recruit .clipBox_image img {
    max-width: 100%;
  }
  .company {
    background-image: url(../images/index_img10_sp.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    padding-bottom: 100px;
    padding-top: 0;
  }
}
@media screen and (max-width: 1024px) and (max-width: 1024px) {
  .headerNav .nav.active .navList {
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (max-width: 599px) {
  .nav {
    transition: 0.5s;
  }
  .footer .navList {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer .navList_item:not(:last-child) {
    margin-right: 20px;
  }
  .breadcrumbWrapper {
    padding: 5px 20px;
  }
  .breadcrumbList_item:last-child {
    max-width: 15em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .primaryHeading_main span {
    display: inline-block;
    line-height: 1.1;
  }
  .primaryHeading_main {
    font-size: 24px;
  }
  .secondaryHeading {
    font-size: 18px;
  }
  .tertiaryHeading {
    font-size: 16px;
  }
  .colContainer .colBox {
    display: block;
  }
  .colContainer .colBox--col3 .col {
    margin-top: 40px;
    width: 100%;
  }
  .colContainer .colBox--col3 .col img {
    width: 100%;
  }
  .article.works .colContainer .colBox--col3 .col {
    margin-top: 80px;
  }
  .article .clipBox.type-row.img-left .clipBox_image {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .clipBox:not(.img-overlap) .clipBox_text.bg-gray {
    padding: 60px 0 50px;
  }
  .borderBox-inner {
    padding: 28px 20px;
  }
  .borderBox .btnBox {
    margin-top: 40px;
  }
  .videoBox {
    height: 188px;
  }
  .lead {
    font-size: 32px;
  }
  .marker span {
    display: block;
  }
  .contact-text span {
    display: inline-block;
  }
  .map {
    height: 240px;
  }
  .descList-inner {
    flex-direction: column;
  }
  .descList-inner dt {
    border-bottom: none;
    padding-bottom: 0;
    width: 100%;
  }
  .descList-inner dd {
    padding-top: 0;
    width: 100%;
  }
  .formBox-inner {
    padding: 30px;
  }
  .pageTop.active {
    bottom: 20px;
    right: 20px;
  }
  .headerContainer {
    max-width: 100%;
    padding: 20px;
  }
  .mvContainer .btn {
    margin-left: 0;
    margin-right: 0;
  }
  .mvImage {
    background-position: 60%;
  }
  .mv_contents {
    padding: 0 20px;
    text-align: left;
  }
  .article .mv_contents {
    text-align: center;
  }
  .mvHeading_main {
    font-size: 48px;
    line-height: 1.2;
  }
  .mvHeading_sub {
    font-size: 16px;
  }
  .scrollContainer {
    bottom: 60px;
  }
  .newsList_inner:not(:first-of-type) {
    margin-top: 35px;
  }
  .newsList .item {
    margin-top: 10px;
  }
  .article-heading {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 52px;
  }
  .cva {
    margin-top: 80px;
  }
  .cva p span {
    display: inline-block;
  }
  .top .recruit {
    margin-top: 20px;
  }
  .top .primaryHeading_main {
    font-size: 30px;
  }
  .article.recruit .leadText {
    margin-top: 19px;
  }
}
@media screen and (min-width: 1025px) {
  .header .navList_item:not(:last-child) {
    margin-right: 25px;
  }
  .header .navList_item:hover::before {
    -webkit-animation: navLine 0.5s;
            animation: navLine 0.5s;
    border: 1px solid #fff;
    bottom: -5px;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 100%;
  }
  @-webkit-keyframes navLine {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes navLine {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  .menuBar {
    display: none;
  }
  .menuBar_item {
    display: none;
  }
  .btn {
    transition: 0.5s;
  }
  .btn:not(.btn--transparent):hover {
    background: linear-gradient(to left, #7633A4 0%, #250D65 100%);
  }
  .breadcrumbWrapper {
    padding: 15px 0 15px 165px;
  }
  .header .logo {
    transition: 0.5s;
  }
  .header .logo:hover {
    opacity: 0.7;
  }
  .company {
    background-image: url(../images/index_img06.jpg), url(../images/index_img07.jpg), url(../images/index_img08.jpg), url(../images/index_img09.jpg), url(../images/index_img10.jpg);
    background-position: 0 50%, 100% 50%, 10% 100%, 90% 100%, center;
    background-repeat: no-repeat;
    background-size: 15%, 15%, 10%, 10%, 60%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .breadcrumbWrapper {
    padding: 15px 20px;
  }
  .colContainer .colBox--col3 {
    display: block;
  }
  .colContainer .colBox--col3 .col {
    margin: 60px auto 0;
    text-align: center;
    width: 100%;
  }
}