@use "base/variables" as v;
@use "base/mixins" as m;

*{
  box-sizing: border-box;
  position: relative;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font-family:"Hiragino Sans", "ヒラギノ角ゴシック", "YuGothic", "游ゴシック体", "Yu Gothic", "游ゴシック", "Meiryo", "メイリオ", sans-serif;
  vertical-align:baseline;
  background:transparent;
  letter-spacing: 0.05em;
  line-height: 1.8;
}
body {
  line-height:1;
  color: #333;
  overflow-x: hidden;
  @include m.sp {
    font-size: 14px;
  }
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,main {
  display:block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content:"";
  content:none;
}
a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  &:hover {
    text-decoration: underline;
  }
}
img {
  vertical-align: bottom;
}
ins {
  background-color:#ff9;
  color:#333;
  text-decoration:none;
}
mark {
  background-color:#ff9;
  color:#333;
  font-style:italic;
  font-weight:bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}
input, select {
  vertical-align:middle;
}

// 手動設定
.sp-show {
  @include m.pc {
    display: none;
  }
  @include m.sp {
    display: block;
  }
}
.en {
  font-family: 'Montserrat', sans-serif;
}
.fw_n {
  font-weight: normal;
}
.ta-c {
  text-align: center;
}

.mt-0 {
  margin-top: 0 !important;
}
.mt-60 {
  margin-top: 60px !important;
}
.mtb-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.mtb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}