// color
$white: #fff;
$purple: #391E88;
$purple-gradation: linear-gradient(to left, #250D65 0%, #7633A4 100%);
$purple-gradation-reverse: linear-gradient(to left, #7633A4 0%, #250D65 100%);
$font-black: #333333;
$cover-gray: #F7F7F7;
$mark-yellow: #F5F534;