@use "base/variables" as v;
@use "base/mixins" as m;

.top {
  .recruit {
    @include m.sp {
      margin-top: 20px;
    }
    .section-inner {
      padding: 0;
    }
    .clipBox {
      &_image {
        img{
          max-width: 665px;
          @include m.expc {
            max-width: 100%;
          }
        }
      }
    }
  }
  .primaryHeading {
    &_main {
      @include m.sp {
        font-size: 30px;
      }
    }
  }
}